@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

/*
font-family: 'Poppins', sans-serif;
*/
:root {
    --dim-white: #f3f5f8;
    --dark-grey: #3d535f;
    --voilet: #7f00ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: var(--dim-white);
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    z-index: 111;
    line-height: 80px;
}

.logo {
    display: flex;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 3px;
    color: var(--dark-grey);
    cursor: pointer;
    text-transform: uppercase;
}

b {
    font-size: 70px;
    color: var(--voilet);
}

.nav_items {
    display: flex;
}

.nav_items .nav__item {
    list-style: none;
    margin: 0 20px;

}

.nav_items .nav__item a {
    font-size: 25px;
    text-decoration: none;
    color: var(--dark-grey);
    letter-spacing: 3px;
}

.nav_items .nav__item a:hover,
.social a:hover {
    color: var(--voilet);
}

.social a {
    font-size: 30px;
    color: var(--dark-grey);
    margin: 25px 10px;
}

.wrapper {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}

.wrapper::before {
    position: absolute;
    content: '';
    width: 600px;
    height: 600px;
    border-radius: 50%;
    left: -12%;
    top: 40%;
    background: linear-gradient(45deg, var(--voilet), pink);
    animation: object1 6s linear infinite;
}

.wrapper::after {
    position: absolute;
    content: '';
    width: 200px;
    height: 200px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background: linear-gradient(45deg, var(--voilet), pink);
    animation: object2 6s linear infinite;
}

@keyframes object1 {
    50% {
        left: -13%;
        top: 41%;
    }
}

@keyframes object2 {
    50% {
        left: 35%;
        top: 10%;
    }
}


.cols {
    width: 50%;
}

.cols0 {
    z-index: 5;
}

.top_line {
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 3px;
    color: var(--dark-grey);
}

.top_line::after {
    position: absolute;
    content: '';
    width: 45px;
    height: 4px;
    bottom: 10px;
    background-color: var(--voilet);
}

.cols h1 {
    display: block;
    font-size: 3em;
    font-weight: 900;
    color: var(--dark-grey);
}

.multi_text {
    color: var(--voilet);
    text-transform: capitalize;
}

p {
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: var(--dark-grey);
}

.btn {
    width: 100%;
    position: relative;
    left: 150px;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    background-color: var(--dark-grey);
    color: #fff;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: var(--voilet);
}

.img__box {
    position: relative;
    width: 100%;
    height: 100%;
}

.img__box img {
    position: relative;
    height: 100%;
    width: calc(130% - 80px);
    top: -100px;
    right: 50px;
    animation: animeteUser 4s linear infinite;
}

@keyframes animeteUser {
    50% {
        right: 30px;
        top: -90px
    }
}

.img__box #splash {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-35deg);
    width: 160%;
    filter: saturate(200%);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    50% {
        top: 49%;
        left: 51%;
        width: 155%;
    }
}